total 16
-rw-r--r--  1 sbhattacharya  staff   43 Nov 23 16:26 README.md
-rw-r--r--  1 sbhattacharya  staff   36 Nov 23 16:26 helloworld.py
drwxr-xr-x  3 sbhattacharya  staff   96 Nov 23 16:26 leveldown
-rw-r--r--  1 sbhattacharya  staff    0 Dec  1 13:21 requirements.txt
drwxr-xr-x  4 sbhattacharya  staff  128 Nov 23 16:26 salt
